[package]
name = "rocat"
version = "0.5.1"
authors = ["Blake Mealey <blakemealey@gmail.com>"]
edition = "2018"

[dependencies]
serde_json = { version = "1.0.59" }
serde_yaml = { version = "0.8" }
serde = { version = "1.0", features = ["derive"] }
clap = "2.33.0"
ureq = { version = "2.3.0", features = ["json"] }
glob = "0.3.0"
mime_guess = "2.0.3"
multipart = { version = "0.18.0", features = ["client"] }
sha2 = "0.9.8"
difference = "2.0.0"
rusoto_core = "0.47.0"
rusoto_s3 = "0.47.0"
tokio = { version = "1", features = ["full"] }
